<style>

.div1 {
  float: left;
  font-size: 60px;
  color: #ff9400;
  font-weight: bold;
}

.div2 {
  float: right;
  text-align: right;
  font-size: 60px;
  color: purple;
  font-weight: bold;
}

</style>


  <div>
    <div class="div1"> <%= @player1.name %>: <%= @player1.health %>HP </div>
    <div class="div2"> <%= @player2.name %>: <%= @player2.health %>HP
    </div>
  </div>
  <% if $game.p1_turn %>
   <%= @player1.name %>'s turn
  <% else %>
   <%= @player2.name %>'s turn
  <% end %>
  <form method="post" action="/attack">
      <button type="submit">Attack</button>
  </form>

<%if $x %>
    <%if $game.p2_turn%>
    <p><%= @player1.name   %> attacked <%= @player2.name %></p>
    <% else %>
    <p><%= @player2.name   %> attacked <%= @player1.name %></p>
    <%end%>
<%end%>
